@import "../utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  margin: auto;
}

* {
  font-family: "Raleway";
}
//Header

header {
  display: flex;
  margin: 0;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;

  .header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header__nav a {
    color: rgb(206, 195, 195);
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
    &:hover {
      color: $cd-text;
    }
  }

  .header__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__links {
    list-style: none;
    padding: 20px 10px;
    border: 2px solid transparent;
    transition: all 300ms ease-in-out;

    &:hover {
      border-top: 2px solid #0065fc;
    }
  }

  .header__register {
    & > li {
      list-style: none;
      padding: 20px 10px;
      border: 2px solid transparent;
      transition: all 300ms ease-in-out;
      &:hover {
        border-top: 2px solid #0065fc;
      }
    }
  }
}

// Container

// Info, Search & Filters

.section1 {
  display: flex;
  flex-direction: column;
  & > p {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}

.search {
  height: 50px;
  width: 400px;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  border: none;

  &--location {
    width: 15%;
    background: $cd-background;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    & > i {
      size: 20px;
    }
  }
  &--input {
    width: 60%;
    margin: 0;

    border-top: $cd-border;
    border-bottom: $cd-border;
    border-left: none;
    border-right: none;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    transition: all 300ms ease-in-out;

    &:focus {
      border-top: 3px solid blue;
      border-bottom: 3px solid blue;
    }
  }

  &--button {
    width: 40%;
    background: blue;
    color: #fff;
    border-radius: 0 15px 15px 0;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    i {
      display: none;
    }
  }
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__containers {
    display: flex;
    margin-right: 1.5rem;
  }

  &__base {
    height: 40px;
    width: 250px;
    border-radius: 10rem;
    border: $cd-border;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
    &:hover {
      .filters__fill {
        transform: scaleX(1);
        height: 100%;
        width: 100%;
        background: $cd-background-ligtblue;
        z-index: 1;
      }
    }
    .filters__fill {
      transition: transform 330ms;
      transform-origin: 20%;
      transform: scaleX(0);
    }

    .filters__span {
      font-weight: 800;
      z-index: 2;
    }
    .filters__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $cd-text;
    }

    & > div {
      height: 40px;
      width: 40px;
      background: $cd-background-ligtblue;
      position: absolute;
      left: 0;
      border-radius: 10rem;
      z-index: 3;
      transition: transform 300ms ease-in-out;
    }
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  & > p {
    margin-left: -4rem;
  }
  &__icon {
    height: 20px;
    width: 20px;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    border-radius: 50%;
    border: 1px solid rgb(165, 159, 159);
  }
}

.places {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0.5rem;
  &__title {
    margin-left: 1rem;
  }

  &__hotels {
    width: 90%;
    background: $cd-background;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__card {
    height: 250px;
    width: 250px;
    margin: 1rem 0.5rem;
    background: #fff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 3px 5px rgb(224, 217, 217);

    & > img {
      object-fit: cover;
      width: 100%;
      height: 140px;
      border-radius: 25px 25px 0 0;
      transition: all 300ms;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    & > h3 {
      margin-bottom: 5px;
    }
    & > p {
      margin-top: 0px;
    }
  }

  &__rating {
    margin-left: 2px;
    color: $cd-text;
  }

  &__more {
    border: none;
    outline: none;
    text-align: left;
    font-size: 1.2rem;
    margin-left: 1rem;
    font-weight: 800;
  }

  &__popular {
    background: $cd-background;
    border-radius: 25px;
    padding: 12px 0;
    margin-left: 4px;

    .places__increase {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }

    .places__list__popular {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 13px 0;
    }

    .places__card__popular {
      height: 150px;
      width: 90%;
      background: #fff;
      border-radius: 25px;
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: row;
      cursor: pointer;
      box-shadow: 0 3px 5px rgb(224, 217, 217);

      & > img {
        object-fit: cover;
        height: 100%;
        width: 120px;
        border-radius: 25px 0 0 25px;
        transition: all 300ms;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__popular__reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;

    & > h3 {
      margin-bottom: 0;
    }
  }
}

// Activities Section

.activities {
  margin: 3rem 0.5rem;

  &__base {
    margin: 0 0.5rem;
  }

  &__title {
    margin-left: 1.5rem;
  }

  img {
    cursor: pointer;
    transition: all 330ms ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__overlap {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--card:nth-child(1) {
      height: 230px;

      & > img {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 25px 25px 0 0;
      }
      & > h3 {
        margin-left: 1rem;
        margin-top: 1.5rem;
      }
    }

    &--card {
      height: 130px;
      width: 100%;
      border-radius: 25px;
      box-shadow: 0 3px 5px rgb(224, 217, 217);

      & > img {
        object-fit: cover;
        height: 68px;
        width: 100%;
        border-radius: 25px 25px 0 0;
      }
      & > h3 {
        margin-left: 1rem;
        margin-bottom: 20px;
      }
    }
  }

  &__overlap1 {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--card:nth-child(1) {
      width: 100%;
      height: 150px;
      box-shadow: 0 3px 5px rgb(224, 217, 217);
      border-radius: 25px;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 90px;
        border-radius: 25px 25px 0 0;
      }
      & > h3 {
        margin-left: 1rem;
      }
    }

    &--card:nth-child(2) {
      width: 100%;
      height: 200px;
      box-shadow: 0 3px 5px rgb(224, 217, 217);
      border-radius: 25px;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 138px;
        border-radius: 25px 25px 0 0;
      }
      & > h3 {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }

  &__base {
    height: 100%;
    width: 280px;
    box-shadow: 0 3px 5px rgb(224, 217, 217);
    border-radius: 25px;
    & > img {
      object-fit: cover;
      border-radius: 25px 25px 0 0;
      width: 100%;
      height: 350px;
    }
    & > h3 {
      margin-left: 1rem;
    }
  }
}

// Footer
.footer {
  display: flex;
  min-height: 15vh;
  background: $cd-background;
  display: flex;
  justify-content: space-evenly;

  &__base {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    list-style: none;
    text-align: left;
  }
  ul > li {
    margin: 10px 0;
  }
  h3 {
    text-align: left;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    max-width: 900px;
    margin: auto;
  }

  .filters {
    display: flex;
    align-items: baseline;
    flex-direction: column;

    &__containers {
      margin: 0;
    }

    &__base {
      width: 170px;
    }

    &__icons{
      color: $cd-text;
    }
 
  } 

  .filters__base {
    margin-right: 1rem;
    width: 170px;
    padding-left: 2rem;
  }

  .info {
    margin-top: 2rem;
  }

  .places__popular {
    height: 100%;
    .places__card__popular {
      margin-bottom: 2rem;
      height: auto;

      & > img {
        height: auto;
      }
    }

 
  }

  .places__popular__reviews {
    & > p {
      margin-bottom: 10px;
    }
    & > div {
      margin-bottom: 20px;
    }
  }

  .activities__base {
    height: auto;
  }

  .activities__overlap1 {
    &--card:nth-child(1) {
      height: auto;
    }
  }
}

// Tablet Size

@media only screen and (min-width: 481px) and (max-width: 750px) {
  .header__logo {
    margin-left: 1rem;
  }

  body {
    max-width: 650px;
    margin: auto;
  }

  .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    & > h2 {
      display: inline;
      padding:  0 2rem;
      text-align: center;
    }
   
  }

  .search {
    height: 80px;
    width: 500px;
   

  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    &__title {
      font-size: 1.3rem;
    }

    &__containers {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      height: 150px;
      margin: 0;
    }

    &__base {
      margin: 1rem 10px;
      height: 60px;
      padding-left: 20px;
      & > div {
        height: 60px;
        width: 60px;
        color: $cd-text;
      }
    }
  }

  .info {
    margin-left: 3.5rem;
    margin-top: 3rem;
  }

  .places {
    display: flex;
    flex-direction: column-reverse;
    &__popular {
      margin-bottom: 2rem;
    }

    & .places__list__popular {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    & .places__card__popular {
      display: flex;
      width: 30%;
      height: 100%;
      flex-direction: column;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 150px;
        border-radius: 25px 25px 0 0;
      }
    }

    &__rating {
      margin-bottom: 1rem;
    }

    &__hotels {
      width: 100%;
      padding: 0;
    }

    &__card {
      width: 45%;
    }

    &__more {
      margin-bottom: 1.5rem;
      background: none;
    }
  }

  .activities__list {
    display: flex;
    flex-direction: column;
    & > div {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  .activities {
    &__base {
      margin: 0;
    }

    &__overlap {
      & > div:nth-child(1) {
        height: 100%;
        margin-bottom: 3rem;
        & > img {
          height: 350px;
        }
      }

      & > div {
        height: 100%;

        & > img {
          height: 350px;
        }
      }
    }

    &__overlap1 {
      & > div:nth-child(1) {
        margin-bottom: 3rem;
        height: 100%;

        & > img {
          height: 350px;
        }
      }

      & > div:nth-child(2) {
        height: 100%;

        & > img {
          height: 350px;
        }
      }
    }
  }
}

// Phone Size

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    max-width: 480px;
    margin: auto;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    .header__nav {
      width: 100%;
    }

    .header__logo {
      margin-left: 1rem;
    }

    .header__ul {
      display: flex;
      justify-content: space-between;
      border-bottom: $cd-border;
      margin: 1rem 0;
      width: 100%;
      padding: 0;

      & > li {
        width: 100%;
        text-align: center;
        margin: -3px 0;
        border-top: 2px solid transparent;
        border-bottom: 3px solid transparent;
        &:hover {
          border-top: 2px solid transparent;
          border-bottom: 3px solid $cd-text;
        }
      }
    }

    .header__register {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 0.5rem;

      & > li {
        border: 2px solid transparent;
        &:hover {
          border: 2px solid transparent;
        }
      }
    }
  }

  .section1 {
    text-align: center;
    padding: 0 20px;
    & > h2 {
      text-align: left;
    }
    & > p {
      text-align: left;
    }
  }

  .search {
    width: 100%;
    &--input {
      width: 80%;
    }

    &--button {
      width: 20%;
      cursor: pointer;
      border-radius: 15px;
      i {
        display: block;
      }
      span {
        display: none;
      }
    }
  }

  .filters {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0 20px;

    // &__base:nth-child(4) {
    //   width: 140px;
    //   padding-left: 2.7rem;
    //   font-size: 0.85rem;
    // }
    &__containers {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 250px;

      & > div {
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        font-size: 0.7rem;
        & > span {
          padding-left: 0.7rem;
        }
      }
    }

    &__base {
      & > div {
        height: 40px;
        width: 40px;
        color: $cd-text;
      }
    }

    &__base:nth-child(2) {

      order: 4;
      & > span {
        padding-left: 2rem;
      }
    }
    &__base:nth-child(4) {
      & > span {
        margin-left: 1.5rem;
      }
    }
  }

  .info div {
    margin-left: 1rem;
    text-align: center;
    & > p {
      margin-left: -1rem;
    }
  }

  .places {
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem 0;

    &__popular__reviews {
      margin-left: 1rem;
      & > div {
        margin-top: 1rem;
      }
    }

    &__increase {
      & > div {
        height: 20px;
        width: 20px;
        & > i {
          height: 1rem;
        }
      }
    }

    &__hotels {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding: 0;
      background: none;
    }

    &__card {
      width: 95%;
    }

    &__popular {
      margin-bottom: 2rem;
      border-radius: 0;
    }

    &__card {
      & > img {
        height: 150px;
      }

      & > div {
        margin: 0 2rem;
      }
    }

    &__reviews p {
      margin-bottom: 5px;
    }

    &__more {
      background: transparent;
      margin-bottom: 20px;
      cursor: pointer;
    }
  }

  .activities {
    display: flex;
    flex-direction: column;
    margin: 0;

    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__base {
      width: 95%;
      margin-bottom: 3rem;

      & > img {
        object-fit: cover;
        height: 150px;
      }
    }

    &__overlap {
      width: 95%;
      & > div:nth-child(1) {
        height: 100%;
        margin-bottom: 3rem;
        & > img {
          height: 160px;
        }
      }
      & > div:nth-child(2) {
        height: 100%;
        margin-bottom: 3rem;
        & > img {
          height: 160px;
        }
      }
    }

    &__overlap1 {
      width: 95%;
      & > div:nth-child(1) {
        height: 100%;
        margin-bottom: 3rem;
        & > img {
          height: 160px;
        }
      }
      & > div:nth-child(2) {
        height: 100%;
        margin-bottom: 3rem;
        & > img {
          height: 160px;
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
      margin-left: 4.5rem;
    }
    ul {
      width: 300px;
    }
  }
}
