// Colors
$cd-text: #0065fc;
$cd-background-lightened: #deebff;
$cd-background: #f2f2f2;
$cd-border: 3px solid rgb(243, 241, 241);
$cd-border-nav: 3px solid #0065fc;
$cd-background-ligtblue :#deebff;

